/* You can add global styles to this file, and also import other style files */
.faq{
    border: 1px solid #dcdcdc;
}
.modal-overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.modal-box{
    width: 500px;
    position: relative;
    background: #fff;
    margin: 10% auto;
}